{% extends "blog/base.html" %}

{% block content %}
<article class="post-detail">
  <h1 class="post-title">{{ object.title }}</h1>
  <div class="post-meta">
    <span class="author">By {{ object.author }}</span>
    <span class="date">{{ object.published_date|date:"F d, Y" }}</span>
  </div>
  <div class="post-content">
    {{ object.content|linebreaks }}
  </div>
  {% if object.author == user %}
  <div class="post-actions">
    <a href="{% url 'post-update' object.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'post-delete' object.id %}" class="btn btn-danger">Delete</a>
  </div>
  {% endif %}
</article>
{% endblock content %}